.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.inputElem {
    outline: none;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.inputElem:focus {
    outline: none;
    background-color: #ccc;
}

.error {
    border: 1px solid rgb(255, 0, 0);
    background-color: #FDA49A;
}
.ValidationError {
    color: red;
    margin: 5px 0;
} 